* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
  letter-spacing: 0.05rem;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

input[type="button"] {
  cursor: pointer;
}

button {
  cursor: pointer;
}

:where(button, input[type="button"], input[type="submit"]):active {
  transform: scale(0.99);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.page {
  width: 100%;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
}
